* {
    font-family: sans-serif, 'Garet';
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    scroll-behavior: smooth;
}

/* For WebKit browsers */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #234E70;
    border-radius: 5px;
    border: 3px solid #e0e0e0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0f283b;
}

/* For Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #234e70 #e0e0e0;
}
/* for custom scrollbars */

/* For nav bar */
nav {
    /* background-image: url(images/navbg.png); */
    background-color: #1f2f33; 
    overflow:hidden;
    height: fit-content;
}
nav img {
    width: 50px;
}
nav ul a {
    float: left;
    padding-top: 0px;
    padding-left: 75px;
    padding-right: 35px;
}
nav a {
    float: right;
    color: white;
    padding: 10px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
   
}
.nav-links {
  
    list-style: none;
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
}
nav a:hover {
    color: #1b18d6;
}
nav ul {
    padding: 3px;
    padding-top: 0%;
    
}